<div class="ntfy-ping">
    <input type="text" name="message" id="ntfy-message" placeholder="Send me a quick message" autocapitalize="sentences"/>
    <button id="ntfy-submit" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
        </svg>
    </button>
</div>

<script>
    async function ntfyPing() {
        const NTFY_SERVER = "{{ site.Params.ntfy.server }}"
        const NTFY_TOPIC = "{{ site.Params.ntfy.topic }}"
        const NTFY_TOKEN = "{{ site.Params.ntfy.token }}"
        const PLACEHOLDER_TEXT = 'Send me a quick message'

        const currentPage = window.location.href
        const messageInput = document.getElementById('ntfy-message')
        const message = messageInput.value.trim()
        messageInput.value = ''

        if (message != '') {
            messageInput.setAttribute('disabled', '')
            messageInput.setAttribute('placeholder', 'Sending...')
            try {
                const res = await fetch(`https://${NTFY_SERVER}/${NTFY_TOPIC}`, {
                    method: 'POST',
                    body: `${message}\n\n${currentPage}`,
                    headers: {
                        'Authorization': `Bearer ${NTFY_TOKEN}`
                    }
                })
                if (!res.ok) {
                    console.error(`Error sending message to ntfy: ${res.status} ${res.statusText}`)
                    alert(`Error sending message: ${res.status} ${res.statusText}`)
                    messageInput.value = message
                    messageInput.setAttribute('placeholder', PLACEHOLDER_TEXT)
                } else {
                    messageInput.setAttribute('placeholder', 'Message sent!')
                    setTimeout(() => {messageInput.setAttribute('placeholder', PLACEHOLDER_TEXT)}, 3000)
                }
            } catch(error) {
                console.error(error.message)
                alert(`Error sending message: ${error.message}`)
                messageInput.value = message
                messageInput.setAttribute('placeholder', PLACEHOLDER_TEXT)
            } finally {
                messageInput.removeAttribute('disabled')
            }
        }
    }
    document.getElementById('ntfy-message').addEventListener('keyup', (e) => {
        if (e.key == 'Enter') {
            e.preventDefault()
            ntfyPing()
        }
    })
    document.getElementById('ntfy-submit').addEventListener('click', ntfyPing)

</script>